<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <title>Новое сообщение с сайта: site</title>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;margin:0px auto;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
    </style>
</head>
<body>
    <center><h1>Новая заявка с сайта: site</h1></center>
    <div class="tg-wrap">
        <table class="tg">
            <tr>
                <th colspan="2">Данные заявки</th>
            </tr>
            <tr>
                <td>Дата и время заявки</td>
                <td>today</td>
            </tr>
            <tr>
                <td>Форма</td>
                <td>formname</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>name</td>
            </tr>
            <tr>
                <td>Почта</td>
                <td>email</td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>phone</td>
            </tr>
            <tr>
                <td>Промокод</td>
                <td>promo</td>
            </tr>

            <tr>
                <th colspan="2">Geo-данные заявки</th>
            </tr>
            <tr>
                <td>Страна</td>
                <td>country</td>
            </tr>
            <tr>
                <td>Регион</td>
                <td>region</td>
            </tr>
            <tr>
                <td>Город</td>
                <td>city</td>
            </tr>
            <tr>
                <td>Время в регионе</td>
                <td>region_time</td>
            </tr>

            <tr>
                <th colspan="2">Источник заявки</th>
            </tr>
            <tr>
                <td>Источник рекламной компании</td>
                <td>utm_source</td>
            </tr>
            <tr>
                <td>Тип рекламной компании</td>
                <td>utm_medium</td>
            </tr>
            <tr>
                <td>Название рекламной кампании</td>
                <td>utm_campaign</td>
            </tr>
            <tr>
                <td>Идентификатор объявления рекламной кампании</td>
                <td>utm_content</td>
            </tr>
            <tr>
                <td>Ключевое слово в рекламной кампании</td>
                <td>utm_term</td>
            </tr>
            <tr>
                <td>Источник перехода</td>
                <td>referer</td>
            </tr>
        </table>
    </div>
</body>
</html>